* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  clear: both;
}

.wrapper:nth-child(1) {
  background-color: #EEEFF1;
}

.wrapper:nth-child(2) {
  background-color: #EEEFF1;
}

.wrapper:nth-child(3) {
  background-color: #34547A;
}

.content {
  padding: 25px;
  width: 1200px;
  margin: 0 auto;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  float: left;
  margin-right: 20px;
}

.nav li a {
  text-decoration: none;
  color: #333;
}

.about {
  text-align: center;
}

.about p {
  width: 540px;
  margin: 0 auto;
}

.about iframe {
  /* width: 540px; */
  margin: 25px auto 0;
}

.contact h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 79px;
  color: #000;
  margin-bottom: 35px;
}

.contact p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #727272;
  width: 508px;
  margin-bottom: 45px;
}

.contact button {
  width: 225px;
  height: 65px;
  background: #34547A;
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.contact button:hover {
  background: #34547A;
  cursor: pointer;
}

.projects {
  display: flex;
  justify-content: space-between;
  padding: 45px 25px;
}

.project {}

.project img {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.project span {
  display: block;
  float: right;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #fff;
}

.project .label {
  clear: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.project .quantity {
  position: relative;
  left: -34px;
}